* {
    margin: 0%;
    padding: 0%;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1F1C18, #8E0E00);
    
    background-position: center;
    background-size: cover;
}

.heading{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-size: 200%;
    font-family: cursive;
    padding-bottom: 40px;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.card {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: 370px;
    height: 550px;
    border-radius: 10px;
    padding-top: 20px;
}

.configuration{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.color{
    color: white !important;
    font-size: 120% !important;
    font-weight: 400 !important;
    
}

.btn{
    margin-left: auto;
    margin-right:auto;
    display:block;
    margin-top:22%;
    margin-bottom:0%;
    background: transparent;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 120% !important;
    font-weight: 400 !important;
}

.btn:hover{
    border: 2px solid #1F1C18;
}